header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
*{
  margin: 0;
  padding: 0;
  font-family: Candara Light;

}
  .our{
    padding-top: 20px;
    text-align: center;
    font-family: Candara Light;
 }

 #img{
    width: 100%;
    height: 360px;
 }

 input[type="radio"]{
 accent-color: #470e38;
 }

 #grid-col{
    display: grid;
    grid-gap: 20px;
    padding: 30px;
    background-color: white;
    grid-template-columns: auto auto auto;
 }

 a{
    text-decoration: none;
    color: #dc2743;
 }

 .cell{
     background-color:#050532;
     height: 170px;
     border-radius: 10px;
     text-align: center;
     color: white;
     padding: 10px 10px;
     font-size: 30px;
 }
 .cell:hover{
    background-image: linear-gradient(#662D8C , #ED1E79);
    background-color:#050532;
    color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
 }
 .fit img{
    height: 130px;
    width:280px;
    border-radius: 4px;
 }
 .fit1 img{
    height: 130px;
    width:280px;
    border-radius: 4px;
 }
 .fit2 img{
    height: 130px;
    width:280px;
    border-radius: 4px;
 }
 
 #rad{
    border-radius:  0 66px;
    border:2px solid rgb(57, 3, 3);
    box-shadow: 5px 5px 4px grey;
 }
 .box:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
 }
 .btn{
    cursor: pointer;
    border-color:#adff2f;
    padding: 5rem 3 rem;
    position: relative;
    box-sizing: border-box;
    padding:5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
 }

 .btn:hover{
     box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
     background-color: #adff2f;
 }
.join{
    font-family: Candara Light;
    font-size:30px;
    display: flex;
    padding-left: 30px;
 }
.css{
    height: 370px;
    position: relative;
    top:20px;
    padding-left: 700px;
  }

  .comm-join{
   position: relative;
   bottom: 350px;
   text-align: left;
   font-size:20px;
   width:600px;
  }

  .btn1{
   cursor: pointer;
   border-color:#adff2f;
   position: relative;
   bottom: 300px;
   padding:5px;
   box-sizing: border-box;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-radius: 5px;
   background-color: #82cd11;
   border-color:#0b0b0b;

 }

 .btn1:hover{
   box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
   background-color: #fc8e12;
   border-color:#0b0b0b;

 }

 .full-align{
   padding-left: 30px;
 }

 .kk{
   position:relative;
   bottom: 200px;
 }

 .box-container{
   display: grid;
   grid-gap: 20px;
   padding: 30px;
   justify-content: center;
   background-color: white;
   grid-template-columns: auto auto auto;
   display: inline-grid;
   position:relative;
   left: 220px;
 }
 .bot{
    background-color:#320526;
    border-style:solid;
    border-color: #dc2743;
    border-width: 3px;
    border-left: 3px;
    border-bottom: 2px;
    height: 350px;
    width:200px;
    text-align: center;
    color: rgb(247, 239, 239);
    padding: 10px 10px;
    font-size: 15px;
 }

 .heading{
   font-family: Candara Light;
   text-align: center;
 }
 .title{
   background-color: rgb(217, 58, 58);
   border-radius: 5px;
   position:relative;
   bottom:2px;
   height: 30px;
 }

 .price{
   background-color: rgb(16, 168, 74);
   border-color: white;
   border-left-style: solid;
   border-width: 4px;
   position:relative;
   top:5px;
   width:100%;
 }

 .fa{
   font-size: 20px;
 }
 .ex{
   font-family:  Candara Light;
   font-size: 30px;
   text-align: center;
 }

 .walk img{
     height:500px;
     width:400px;
     position:relative;
     left:430px;
 }
 .marquee{
   font-family:  Candara Light;
   font-size: 20px;
 }

 .set img{
   width:100%;
   height:400px;
   position:relative;
   top:20px;
 }

 .set1 img{
   height:350px;
   width:430px;
   position: relative;
   left:800px;
   bottom:350px;
 }

 .heaad{
   color:white;
   font-size:30px;
   font-family:  Candara Light;
 }

 .para{
   color:white;
   font-size: 20px;
 }
 .btn4{
   cursor: pointer;
   border-color:#060606;
   background-color: #82cd11;
   color:rgb(0, 2, 3);
   padding:4px;
   box-sizing: border-box;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-radius: 5px;
 }

 .btn4:hover{
   box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
   background-color: #fc8e12;
 }
 .cover{
   position:relative;
   bottom:700px;
   left:30px;
 }

 footer{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: #111;
   height: auto;
   width: 100%;
   padding-top: 40px;
   color: #dc2743;
 }
 
 .socials{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem 0 3rem 0;
 }

 .socials li{
   margin: 0 10px;
 }

 .socials a{
   text-decoration: none;
   color: #fff;
   border: 1.1px solid white;
   padding: 5px;
   border-radius: 50%;
 }

.error{
  color:red;
  font-weight:bold;

}
.good{
  color:green;
  font-weight:bold; 


}
#slider {
  position: relative;
  width: 50%;
  height: 32vw;
  margin: 150px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}
input[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type=radio]:nth-child(5) {
  margin-right: 0px;

}

input[type=radio]:checked {
  opacity: 1;
}
#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}
#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
}


#s1:checked ~ #slide5,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}
#s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}
h1 {
  margin-top:10px;
  text-align:center;
  text-shadow: 2px 2px 5px rgb(255, 0, 128);
}
.fa-whatsapp  {
  position:relative;
  left:1100px;
  bottom:240px;
  font-size: 100px;
  color:#48ff00;
}
.float
{
  font-variant: small-caps;
  position:relative;
  bottom:300px;
}
.float1{
  position:relative;
  bottom:400px;
}

.up{
  position:relative;
  bottom:400px;
}

.btn{
  cursor: pointer;
  border-color:#adff2f;
  padding: 5rem 3 rem;
  position: relative;
  bottom:26px;
  box-sizing: border-box;
  padding:5px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
  color:rgb(6, 6, 6);
  background-color: #82cd11;
}
.btn:hover{
   box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
   background-color: #fc8e12;
   color:black;
}
.box-container{
  display: grid;
  grid-gap: 20px;
  padding: 30px;
  justify-content: center;
  grid-template-columns: auto auto auto;
  display: inline-grid;
  position:relative;
  left: 260px;
}

.bot{

   background-color:green;
   border-style:solid;
   border-color: #dc2743;
   border-width: 3px;
   border-left: 3px;
   border-bottom: 2px;
   height: 400px;
   width:200px;
   text-align: center;
   color: rgb(247, 239, 239);
   padding: 10px 10px;
   font-size: 15px;
}
.fa{
  font-size: 20px;
}
.title{
  background-color: blue;
  border-radius: 5px;
  position:relative;
  bottom:2px;
  height: 30px;
  font-size:20px;
}

.price{
  background-color: red;
  border-color: white;
  border-left-style: solid;
  border-width: 4px;
  position:relative;
  font-size:20px;
  top:5px;
  width:100%;
}
.plan{
  position:relative;
  bottom:80px;
}


.ff{
  position:relative;
  left:200px;
}

.top2{
  position:relative;
  bottom:550px;
}
#hi{
  font-size:25px;
}
footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px;
  text-align: center;
  margin-top: auto;
  position: relative
}